<div id="map" style="height: 90vh;"></div>
<input id="checkbox" type="checkbox" checked="checked" onchange="zooming(checked)">Zooming
<input id="checkbox" type="checkbox" checked="checked" onchange="panning(checked)">Panning